@model IEnumerable<TrabalhoFinal.Models.Operacao>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Operações</h2>

<p>
    @Html.ActionLink("Nova Operação", "New", null, new { @class = "btn btn-primary" })
</p>

@if (Model.Any())
{

    <table id="operacao" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome da operação</th>
                <th>Valor</th>
                <th>Conta destino</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var operacao in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@operacao.NomeOperacao, "Details", new { operacao.Id })</td>
                    <td>@operacao.Valor</td>
                    <td>@operacao.NrContaDestino</td>
                    <td><p>@Html.ActionLink("Editar", "Edit", new {operacao.Id}, new {@class = "btn btn-primary" })</p></td>
                    <td><button data-operacao-id="@operacao.Id" class="btn-link js-delete">Remover</button></td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>Não há nenhuma operação ainda.</p>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#operacao").on("click",".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover esta operação?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/operacao/delete/" + button.attr("data-operacao-id"),
                                    method: "GET",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}