@model TrabalhoFinal.ViewModels.GerenteIndexViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Gerente"))
{
    @Html.HiddenFor(m => m.Gerente.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Gerente.Nome)
        @Html.TextBoxFor(m => m.Gerente.Nome, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Gerente.Cpf)
        @Html.TextBoxFor(m => m.Gerente.Cpf, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
}