@model IEnumerable<TrabalhoFinal.Models.Cliente>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Novo Cliente", "New", null, new { @class = "btn btn-primary" })
</p>

@if (Model.Any())
{

    <table id="clientes" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@cliente.Nome, "Details", new { cliente.Id })</td>
                    <td>@cliente.Cpf</td>
                    <td><p>@Html.ActionLink("Editar", "Edit", new { cliente.Id }, new { @class = "btn btn-primary" })</p></td>
                 
                    <td><button data-cliente-id="@cliente.Id" class="btn-link js-delete">Remover</button></td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>Não há nenhum cliente ainda.</p>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#clientes").on("click",".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover este cliente?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/clientes/delete/" + button.attr("data-cliente-id"),
                                    method: "GET",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}
