@model IEnumerable<TrabalhoFinal.Models.Cliente>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Novo Cliente", "New", null, new { @class = "btn btn-primary" })
</p>

@if (Model.Any())
{

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@cliente.Nome, "Details", new { cliente.Id })</td>
                    <td>@cliente.Cpf</td>
                    <td><p>@Html.ActionLink("Editar", "Edit", new { cliente.Id }, new { @class = "btn btn-primary" })</p></td>

                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>Não há nenhum cliente ainda.</p>
}