@model TrabalhoFinal.Models.ContaCorrente
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Titular</h2>

<ul>
    <li>ID: @Model.Id</li>
    <li>Titular: @Model.Titular</li>
    <li>Agência: @Model.Agencia</li>
    <li>Número da Conta: @Model.NrConta</li>
</ul>
