@model IEnumerable<TrabalhoFinal.Models.ContaCorrente>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contas Corrente</h2>

<p>
    @Html.ActionLink("Nova Conta Corrente", "New", null, new { @class = "btn btn-primary" })
</p>

@if (Model.Any())
{

    <table id="conta" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Agência</th>
                <th>Titular</th>
                <th>Número da conta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var conta in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@conta.Agencia, "Details", new { conta.Id })</td>
                    <td>@conta.Titular</td>
                    <td>@conta.NrConta</td>
                    <td><p>@Html.ActionLink("Editar", "Edit", new { conta.Id }, new { @class = "btn btn-primary" })</p></td>
                    <td><button data-conta-id="@conta.Id" class="btn-link js-delete">Remover</button></td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>Não há nenhuma Conta Corrente ainda.</p>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#conta").on("click",".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover esta conta?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/contacorrente/delete/" + button.attr("data-conta-id"),
                                    method: "GET",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}
